body {
    background-color: white;
    width: 500px;
    margin:0;
}
#title {
    color: black;
    font-size: 1.8rem;
    background-color: rgb(167, 192, 243);
    margin-top: 0;
    padding: 15px;
    text-align: center;
}

h2   {
    margin: 10px;
    color: rgb(102, 137, 206);
}